# Load Data from Database Using SQL

In [9]:
import pandas as pd

from sqlalchemy import create_engine

In [10]:
# Connect to sqlite db
db_file = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [11]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [12]:
#get all the rows from the BoardGames table in the database
sql = "SELECT * FROM BoardGames;"
grade_df = pd.read_sql(sql, engine)
grade_df.head()

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#get all the rows from the [bgg.ldaOut.topics] table in the database
sql = "SELECT * FROM [bgg.ldaOut.topics]"
grade_df_1 = pd.read_sql(sql, engine)
grade_df_1.head()

        row_names  topics(bgg.ldaOut)
0      Die.Macher                   8
1    Dragonmaster                   5
2         Samurai                  22
3  Tal.der.Könige                   4
4         Acquire                   4

In [20]:
# [ ] works for table 
sql = "SELECT * FROM [bgg.ldaOut.top.terms]"
grade_df_2 = pd.read_sql(sql, engine)
grade_df_2.head()

  row_names  topic                     term      beta
0         1      1        Bluffing.category  0.183436
1         2      1       Deduction.category  0.164224
2         3      1    Partnerships.mechanic  0.080226
3         4      1       PartyGame.category  0.066343
4         5      1  Murder.Mystery.category  0.048674

In [23]:
# [ ] works for table
sql = "SELECT * FROM [bgg.ldaOut.top.documents]"
grade_df_3 = pd.read_sql(sql, engine)
grade_df_3.head()

,row_names,document,topic,gamma
0,1,The.Lounge..A.Mafia.Game,1,0.203125
1,2,Ultimate.Werewolf..Ultimate.Edition,1,0.200000
2,3,Ultimate.Werewolf..Deluxe.Edition.For.Kickstarter,1,0.200000
3,4,Werewolf,1,0.194805
4,5,Παλέρμο..Το.Μεγάλο.Ξεκαθάρισμα,1,0.190476

In [44]:
#' ' works for colume; [ ] works for table
sql = "SELECT 'document','topic' FROM [bgg.ldaOut.top.documents]"
grade_df_3a = pd.read_sql(sql, engine)
grade_df_3a.head()

  'document' 'topic'
0   document   topic
1   document   topic
2   document   topic
3   document   topic
4   document   topic

In [37]:
#double "" works for table

sql = 'SELECT * FROM "bgg.topics"'
grade_df_4 = pd.read_sql(sql, engine)
grade_df_4.head()

,row_names,game.id,game.type,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,details.name,details.playingtime,...,attributes.t.links.concat.2....,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.weight.factor,details.playingtime.factor,details.minplayers.factor,details.maxplayers.factor,details.minage.factor,stats.average.factor,topic
0,1,1,boardgame,5.0,240.0,14.0,3.0,240.0,Die Macher,240.0,...,None,NaN,NaN,4,240+,3,5,14,"[7.00,9.83]",Monopoly-inspired
1,2,2,boardgame,4.0,30.0,12.0,3.0,30.0,Dragonmaster,30.0,...,None,NaN,NaN,2,30,3,4,12,"[6.40,7.00)",Traditional Card Games
2,3,3,boardgame,4.0,60.0,10.0,2.0,30.0,Samurai,60.0,...,None,NaN,NaN,3,60,2,4,10,"[7.00,9.83]",Area Control Games
3,4,4,boardgame,4.0,60.0,12.0,2.0,60.0,Tal der Könige,60.0,...,None,NaN,NaN,3,60,2,4,12,"[6.40,7.00)",Corporate Strategy Games
4,5,5,boardgame,6.0,90.0,12.0,3.0,90.0,Acquire,90.0,...,None,NaN,NaN,3,90,3,6,12,"[7.00,9.83]",Corporate Strategy Games

In [43]:
#[ ] works for colume; double "" works for table

sql = 'SELECT [game.id], [details.maxplayers], [details.maxplaytime] FROM "bgg.topics"'
grade_df_4a = pd.read_sql(sql, engine)
grade_df_4a.head()

  game.id  details.maxplayers  details.maxplaytime
0       1                 5.0                240.0
1       2                 4.0                 30.0
2       3                 4.0                 60.0
3       4                 4.0                 60.0
4       5                 6.0                 90.0

In [38]:
# [ ] works for table
sql = 'SELECT * FROM [bgg.topics]'
grade_df_4 = pd.read_sql(sql, engine)
grade_df_4.head()

,row_names,game.id,game.type,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,details.name,details.playingtime,...,attributes.t.links.concat.2....,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.weight.factor,details.playingtime.factor,details.minplayers.factor,details.maxplayers.factor,details.minage.factor,stats.average.factor,topic
0,1,1,boardgame,5.0,240.0,14.0,3.0,240.0,Die Macher,240.0,...,None,NaN,NaN,4,240+,3,5,14,"[7.00,9.83]",Monopoly-inspired
1,2,2,boardgame,4.0,30.0,12.0,3.0,30.0,Dragonmaster,30.0,...,None,NaN,NaN,2,30,3,4,12,"[6.40,7.00)",Traditional Card Games
2,3,3,boardgame,4.0,60.0,10.0,2.0,30.0,Samurai,60.0,...,None,NaN,NaN,3,60,2,4,10,"[7.00,9.83]",Area Control Games
3,4,4,boardgame,4.0,60.0,12.0,2.0,60.0,Tal der Könige,60.0,...,None,NaN,NaN,3,60,2,4,12,"[6.40,7.00)",Corporate Strategy Games
4,5,5,boardgame,6.0,90.0,12.0,3.0,90.0,Acquire,90.0,...,None,NaN,NaN,3,90,3,6,12,"[7.00,9.83]",Corporate Strategy Games

In [40]:
# " " works for colume; [ ] works for table
sql = 'SELECT "game.id", "game.type", "details.maxplaytime" FROM [bgg.topics]'
grade_df_4 = pd.read_sql(sql, engine)
grade_df_4.head()

  game.id  game.type  details.maxplaytime
0       1  boardgame                240.0
1       2  boardgame                 30.0
2       3  boardgame                 60.0
3       4  boardgame                 60.0
4       5  boardgame                 90.0

In [27]:
#get all the rows from the "BoardGames" table in the database
sql = "SELECT * FROM BoardGames;"
grade_df = pd.read_sql(sql, engine)
grade_df.head()

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN